body {
	font: normal 12px/100% 'Open Sans', sans-serif;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #ECF0F1;
}

.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.menu-item {
	display: inline-block;
	float: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 20%;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #C0392B;
	font-weight: bold;
	cursor: pointer;
}
.menu-item.chocolife {
	background: #C10000;
}
.menu-item.chocolife span a::before {
	background: #CA2D18;
}

.menu-item.chocomart {
	background: #C23736;
}
.menu-item.chocomart span a::before {
	background: #CD4748;
}

.menu-item.lensmark {
	background: #357184;
}
.menu-item.lensmark span a::before {
	background: #458ba1;
}
.menu-item.chocotravel {
	background: #327cc2;
}
.menu-item.chocotravel span a::before {
	background: #5d99d1;
}
.menu-item.chocofood {
	background: #990000;
}
.menu-item.chocofood span a::before {
	background: #cc0000;
}

.menu-item a {
	color: #ECF0F1;
	text-decoration: none;
}

.menu-item span a {
	display: block;
	height: 60px;
	width: 100%;
	line-height: 60px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.menu-item span a:hover {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.menu-item span a::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #E74C3C;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}